@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.card{
    display:flex;
    flex-direction: column;
    align-items: center;
    border:1px solid $pokered;
    background-color: $pokeyellow;
    border-radius: 15px;
    @include shadow;
}

.card >h1 {
    text-align: center;
}

.card>p{
    margin:3px;
}


.card > img{
max-width:100px;

}

.card a{
    text-decoration: none;
}

.card a:visited{
    color:$pokered;
}